body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", system-ui;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: white;
}

.header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.header-logo-text {
  font-size: 32px;
  color: #f9faf8;
  font-weight: bold;
}

.header-logo img {
  width: 50px;
  height: 50px;
}

.header-links {
  font-size: 22px;
}

ul {
  display: flex;
  gap: 16px;
  padding: 16px;
}

ul li {
  list-style: none;
}

.hero-content {
  background-color: #1f2937;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 44px;
  gap: 32px;
}

.hero-left {
  max-width: 35%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

.hero-main-text {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero-secondary-text {
  font-size: 18px;
  color: #f9faf8;
}

.hero-right img {
  border: 1px solid white;
  border-radius: 20px;
  width: 500px;
  height: 300px;
}

button {
  padding: 5px 20px 5px 20px;
  border: 1px solid #f9faf8;
  border-radius: 5px;
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 22px;
  font-weight: bold;
  align-self: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.website-info {
  padding: 7%;
  background-color: #f9faf8;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.info-title {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 32px;
  padding: 32px;
  gap: 92px;
}

.images img {
  border: 1px solid white;
  border-radius: 20px;
  width: 200px;
  height: 200px;
}

.image1-text,
.image2-text,
.image3-text,
.image4-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.quote-section {
  padding: 10% 30%;
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.quote {
  font-size: 36px;
  font-style: light;
  font-style: italic;
  color: #1f2937;
}

.author {
  align-self: flex-end;
  padding: 20px;
  font-size: 20px;
  font-weight: 500;
}

.button-container {
  margin: 100px 25%;
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  background-color: #3882f6;
  border-radius: 32px;
  flex-wrap: wrap;
}

.left-section {
  display: flex;
  flex-direction: column;
  /* margin: 32px; */
  padding: 32px;
  margin-right: 32px;
  color: #f9faf8;
  gap: 15px;
}

.text-1 {
  font-size: 32px;
  font-weight: bold;
}

.text-2 {
  font-style: italic;
  font-size: 22px;
}

.right-section button {
  border: 1px solid #f9faf8;
  font-size: 22px;
  border-radius: 5px;
  font-weight: 100;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #1f2937;
  color: #f9faf8;
  font-family: "Roboto", sans-serif;
  font-size: 15 px;
}
